/* COLORI */
/* ARANCIONE: #F69300 */
/* MARRONE-SCURO: #1B1B1B */

/* FONTS */
body{
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, li {
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Raleway', sans-serif;
    color: black;
}

.space-custom {
    padding-right: 20px;
    padding-left: 20px;
}

nav{
    height: 130px;
    background-color: transparent;
}

.logo{
    border: 4px solid #F69300;
    padding: 20px;
}

.position-custom{
    position: relative;
    bottom: 135px;
    left: 900px;
    font-size: 120px;
    color: #f6940031;
}

/* .position1-custom{
    position: absolute;
    top: 125px;
} */

.img-header2{

    width: auto;
    height: 55%;
}

.row-header-custom{
  margin-top: 50px;
}

/* SOTTOLINEATURA TASTI NAVBAR */
.margin-nav-custom{
  position: relative;
}

.margin-nav-custom::before {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -4px;
  left: 0;
  background-color: #F69300;
  transition: width 0.3s ease-in-out;
}

.margin-nav-custom:hover::before {
  width: 100%; /* serve ad espandere verso destra la sottolineatura */
}



/* FOOTER */
.footer-custom{
    width: auto;
    height: 300px;
    background-color: #312e2e;
    padding: 60px;
    border-bottom: 1px solid #F69300;
}

.footer2-custom{
  padding: 30px 60px 30px 60px;
  background-color: black;
  color: white;
}

.color-custom{
    color: #F69300;
}

.color-btn-custom{
    background-color: #F69300;
}

.color-btn-custom:hover{
    background-color: white;
    color:#F69300;
}



/* DARK MODE BUTTON */
:root {
    --light: #d8dbe0;
    --dark: #1B1B1B;
  }
  
  .toggle-switch {
    position: relative;
    width: 162px;
    bottom: -5px;
    margin-right: 10px;
  }
  
  .toggle-label-custom {
    position: absolute;
    width: 40%;
    height: 28px;
    background-color: var(--dark);
    border-radius: 50px;
    cursor: pointer;
  }
  
  .toggle-input-custom {
    position: absolute;
    display: none;
  }

  .slider {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: 0.3s;
  }
  
  .toggle-input-custom:checked ~ .slider {
    background-color: var(--light);
  }
  
  .slider::before {
    content: "";
    position: absolute;
    top: 4px;
    left: 6px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: inset 28px -4px 0px 0px var(--light);
    background-color: var(--dark);
    transition: 0.3s;
  }
  
  .toggle-input-custom:checked ~ .slider::before {
    transform: translateX(35px);
    background-color: var(--dark);
    box-shadow: none;
  }

/* ABOUT US PAGE */
  .image-card{
    display: inline-block;
    margin: 10px;
  }

  .wrapper-custom{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .ruolo-color{
    color: #F69300;
  }

  .h1-home-custom{
    position: relative;
    z-index: 99;
    font-size: 70px;
    color: #1b1b1b4b;
    font-family: 'Roboto', sans-serif;
  }

  .about-custom{
    position: relative;
    z-index: 99;
    font-size: 70px;
    color: #1b1b1b4b;
    font-family: 'Roboto', sans-serif;
  }

  .team-custom{
    position: absolute; 
    top: 170px;
    margin-left: 30px;
    font-size: 50px;
  }

  .contacts-custom{
    position: absolute; 
    top: 170px;
    margin-left: 30px;
    font-size: 50px;
  }

  .p-custom{
    position: absolute; 
    top: 210px;
    font-size: 50px;
    font-weight: bolder;
  }
  
  .gallery-custom{
    position: absolute; 
    top: 170px;
    margin-left: 30px;
    font-size: 50px;
  }

  @media screen and (max-width: 767px) {

    .footer-custom{
      height: 400px;
      padding: 40px;
  }

  .footer2-custom{
    padding: 30px 40px 30px 40px;
    background-color: black;
    color: white;
  }
    .h1-home-custom{
      font-size: 60px;
      text-align: center;
    }

    .about-custom{
      font-size: 80px;
    }

    .col-custom{
      text-align: center;
    }

    .team-custom{
      position: absolute; 
      top: 185px;
      margin-left: 50px;
      font-size: 50px;
    }

    .gallery-custom{
      position: absolute; 
      top: 185px;
      margin-left: 37px;
      font-size: 50px;
    }

    .contacts-custom{
      position: absolute; 
      top: 185px;
      margin-left: 10px;
      font-size: 50px;
    }

    .row-header-custom{
      margin-top: 0px;
    }
  }

.fluid-img{
  max-width: 100%;
  height: auto;
}


/* CONTACT PAGE */
.cerchio{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-image: url(./img/img1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
  
.cerchio1{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-image: url(./img/img2.png);
  background-repeat: no-repeat;
  background-size: cover;
}


/* GALLERY PAGE */



/* swiper */
.swiper{
  height: 400px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.foto-swiper{
  position: relative;
}