/* COLORI */
/* ARANCIONE: #F69300 */
/* MARRONE-SCURO: #1B1B1B */

/* COLORI */

body{
  background-color: white;
  color: black;
  margin: 0;
  padding: 0;
}

/* Colore icone */
.color-custom{
  color: #F69300;
}


/* FONTS */
h1, h2, h3, h4, h5, h6, li {
  font-family: 'Montserrat', sans-serif;
}

p {
  font-family: 'Raleway', sans-serif;
  color: black;
}

.space-custom {
  padding-right: 20px;
  padding-left: 20px;
}

nav{
  height: 130px;
  background-color: transparent;
}

.logo{
  border: 4px solid #F69300;
  padding: 20px;
}

.position-custom{
  position: relative;
  bottom: 135px;
  left: 900px;
  font-size: 120px;
  color: #f6940031;
}

.img-header2{
  width: auto;
  height: 55%;
}

.row-header-custom{
  margin-top: 50px;
}

.posizione-padre-header{
  position: relative;
  left: 20px;
}

.posizione-figlio-header{
  position: absolute;
  bottom: 150px;
  left: 150px;
}


/* SOTTOLINEATURA TASTI NAVBAR */

@media screen and (min-width:1024px) {
  
  .margin-nav-custom{
    position: relative;
  }
  
  .margin-nav-custom::before {
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    bottom: -4px;
    left: 0;
    background-color: #F69300;
    transition: width 0.3s ease-in-out;
  }
  
  .margin-nav-custom:hover::before {
    width: 100%; /* serve ad espandere verso destra la sottolineatura */
  }
}



/* HEADER */
.h1-home-custom{
  position: relative;
  z-index: 99;
  font-size: 70px;
  color: #1b1b1b4b;
  font-family: 'Roboto', sans-serif;
}

.p-custom{
  position: absolute; 
  top: 210px;
  font-size: 50px;
  font-weight: bolder;
}


/* FOOTER */
.footer-custom{
    width: auto;
    height: 330px;
    background-color: #312e2e;
    padding: 60px;
    border-bottom: 1px solid #F69300;
}

.footer2-custom{
  padding: 30px 60px 30px 60px;
  background-color: black;
  color: white;
}

.a-footer{
  color: #F69300;
}

.a-footer:hover{
  color: white;
}

.icon-footer{
  color: #F69300;
  font-size: 25px;
  transform: translateY(0);
  padding-right: 15px;
  cursor: pointer;
}

.icon-footer:hover{
  color: white;
  transform: translateY(-5px);
  transition: transform 0.5s ease-in-out;
  cursor: pointer;
}


/* ABOUT US PAGE */
.image-card{
  display: inline-block;
  margin: 10px;
}

.wrapper-custom{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.ruolo-color{
  color: #F69300;
}

.zoomed {

  transform: scale(1.1); /* modifica scala per l'effetto di zoom */
  transition: transform 0.3s ease; /*per un effetto più fluido*/
  cursor: pointer;
}


/* c'è in tutte le pagine */
.about-custom{
  position: relative;
  z-index: 99;
  font-size: 70px;
  color: #1b1b1b4b;
  font-family: 'Roboto', sans-serif;
}


.text-that-changes{
  position: absolute; 
  top: 170px;
  margin-left: 30px;
  font-size: 50px;
}


/* MEDIA QUERIES */

@media screen and (max-width: 767px) {

  .footer-custom{
    height: 300px;
    width: auto;
    padding: 40px;
    text-align: center;
  }

  .icon-footer{
    padding: 0 15px;
  }

  .footer2-custom{
    padding: 30px 40px 30px 40px;
    background-color: black;
    color: white;
    text-align: center;
  }

  .h1-home-custom{
    font-size: 60px;
    text-align: center;
  }

  .about-custom{
    font-size: 80px;
  }

  .center-text-custom{
    text-align: center;
  }

  .team-custom{
    position: absolute; 
    top: 185px;
    margin-left: 50px;
    font-size: 50px;
  }

  .gallery-custom{
    position: absolute; 
    top: 185px;
    margin-left: 37px;
    font-size: 50px;
  }

  .contacts-custom{
    position: absolute; 
    top: 185px;
    margin-left: 10px;
    font-size: 50px;
  }

  .portfolio-custom{
    position: absolute; 
     top: 185px;
    margin-left: 12px;
    font-size: 50px;
  }

  .row-header-custom{
    margin-top: 0px;
  }
}


/* CONTACT PAGE */
.cerchio{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-image: url(./img/img1.png);
  background-repeat: no-repeat;
  background-size: cover;
}
  
.cerchio1{
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-image: url(./img/img2.png);
  background-repeat: no-repeat;
  background-size: cover;
}


/* GALLERY PAGE */
/* Swiper */
.swiper{
  width: 100%;
  height: 400px;
  position: relative;
  top: 30px;
  cursor: grab;
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.swiper-scrollbar-drag{
  background: #F69300;
}

@media screen and (max-width: 767px) {
  .img-custom-mobile{
    margin-top: 30px;
  }
}

.classe-prova{
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

.positioning{
  text-align: center;
  overflow-x: hidden;
}

@media screen and (min-width: 1024px) {

  .positioning{
    position: absolute;
    width: 500px;
    left: 100px;
    top: 100px;
    text-align: center;
  }

  .div-dimension{
    height: 400px;
    width: 300px;
    overflow: hidden;
    margin-top: 30px;
  }

  .div-dimension img{
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
  }
  .div-dimension:hover img{
    transform: scale(1.1); 
  }
  
  .div-dimension-grande{
    height: 400px;
    width: 630px;
    overflow: hidden;
    margin-top: 30px;
  }

  .div-dimension-grande img{
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease;
  }
  .div-dimension-grande:hover img{
    transform: scale(1.1); 
  }
  
}

.p-size{
  font-size: 20px;
}

/* NAVBAR SU MOBILE*/

.checkbox{
  display: none;
}

@media screen and (max-width:767px) {

  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 30px;
    left: 320px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }

  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 35px;
    left: 320px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }

  .navbar-custom .menu-items {
    padding-top: 60px;
    height: 85vh;
    width: 100%;
    transform: translate(150%);
    display: flex;
    flex-direction: column;
    text-align: center;
    /* margin-right: -40px; */
    transition: transform 0.5s ease-in-out;
    background-color: white;
    color: #1B1B1B;
    z-index: 999;
    opacity: 1;
  }
  
  .navbar-custom .menu-items .nav-li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked ~ .logo{
    display: none;
  }
}



/* BOTTONE MODALITA' NOTTE*/
.switch {
  margin-right: 7px;
  position: relative;
  top: 5px;
  display: inline-block;
  width: 50px;
  height: 26px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 3px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #F69300;
}

input:focus + .slider {
  box-shadow: 0 0 1px #ccc;
}

input:checked + .slider:before {
  -webkit-transform: translateX(23px);
  -ms-transform: translateX(23px);
  transform: translateX(23px);
}

/* STILE PER MODALITA' NOTTE */
body.active-dark{
  background-color: #000000;
  color: white;
}

body.active-dark p {
  font-family: 'Raleway', sans-serif;
  color: white;
}

body.active-dark nav {
  height: 130px;
  color: white;
}

body.active-dark h6 {
  color: white;
}

body.active-dark .logo{
  border: 4px solid #F69300;
  padding: 20px;
  color: white;
}

body.active-dark .h1-home-custom{
  color: white;
  z-index: -99;
}

body.active-dark .about-custom{
  color: #F69300;
  z-index: -99;
}


body.active-dark .position-custom{
  position: relative;
  bottom: 135px;
  left: 900px;
  font-size: 120px;
  color: #f6940031;
}

body.active-dark .ruolo-color{
  color: #F69300;
}

body.active-dark .footer-custom{
  width: auto;
  height: 300px;
  background-color: #4a4747;
  padding: 60px;
}

body.active-dark .footer2-custom{
  padding: 30px 60px 30px 60px;
  background-color: black;
  color: white;
}

body.active-dark .color-custom{
  color: #F69300;
}


@media screen and (max-width: 767px) {
  body.active-dark .navbar-custom .menu-items {
      background-color: black; 
  }

  body.active-dark .nav-container .hamburger-lines .line {
      background: #F69300;
  }
}